<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SecWebScan Report</title>
    {% if report_theme == "dark" %}
    <link rel="stylesheet" href="../templates/css/style_dark.css">
    {% else %}
    <link rel="stylesheet" href="../templates/css/style_light.css">
    {% endif %}
</head>

<body>
    <h1>SecWebScan Report</h1>

    {% for target, categories in structured_results.items() %}
    <div class="module">
        <p><strong>Target:</strong> {{ target }}</p>
        <p><strong>Other addresses:</strong>
            {{ categories["__meta__"].mac if categories.get("__meta__") and categories["__meta__"].mac else "Unknown" }}
        </p>
        <p><strong>Time:</strong>
            {{ categories["__meta__"].created_at if categories.get("__meta__") and categories["__meta__"].created_at
            else "Unknown" }}
        </p>

        {% for category, subcats in categories.items() %}
        {% if category != "__meta__" %}
        <h2>{{ category }}</h2>
        {% for subcategory, entries in subcats.items() %}
        {% if entries and entries[0]["data"] is iterable and entries[0]["data"] is not string and entries[0]["data"][0]
        is mapping %}
        <h3>{{ subcategory }}</h3>

        {% set exclude_keys = ["source", "severity", "created_at", "module"] %}
        {% set all_keys = entries[0]["data"][0].keys() | reject("in", exclude_keys) | list %}
        {% set module = entries[0]["module"] %}
        {% set column_order = namespace(keys=all_keys) %}

        {% if module == "nmap" %}
        {% set column_order.keys = [
        "cpe", "port", "extra", "state", "reason", "product", "version", "protocol", "service_name", "script_output"
        ] | select("in", all_keys) | list %}
        {% endif %}

        <table>
            <thead>
                <tr>
                    {% for key in column_order.keys %}
                    <th>{{ key.replace('_', ' ') | title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in entries[0]["data"] %}
                <tr>
                    {% for key in column_order.keys %}
                    <td>{{ row[key] if row[key] else "-" }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3>{{ subcategory }}</h3>
        <pre>{{ entries[0]["data"] }}</pre>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

    <div class="footer">
        Generated by SecWebScan | {{ generation_time }}
    </div>
</body>

</html>